body{
  background: linear-gradient(45deg, red, purple);
  height: 100vh;
}

img{
  align: left;
  float: left;
  height: 100px;
  width: 100px;
}

h1{
  font-family: "Times New Roman";
}

p1{
  font-family: "Helvetica";
}

h2{
  font-family: "Times New Roman";
}

p2{
  font-family: "cursive";
}
