*{
  margin: 0; padding: 0; box-sizing: border-box;
}

header{
  width: 100%; height: 100vh;
  background-image: url('https://telegra.ph/file/ae6f8353b0319c85a108f.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav{
  width: 100%;
  height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 14px;
}

nav .bglg{
  width: 25%;
  text-align: center;
  font-size: 35px;
  font-family: monospace;
}

nav .menu{
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a{
  width: 25%;
  text-decoration: none;
  justify-content: space between;
}

#homee{
    font-family: monospace;
    color: white;
    font-size: 14px;
}

#ben{
   font-family: monospace;
   color: white;
   font-size: 14px;
}

#mcap{
   font-family: monospace;
   color: white;
   font-size: 14px;
}

#cpro{
   font-family: monospace;
   color: white;
   font-size: 14px;
}

h1{
  font-family: sans-serif;
  color: white;
}

p1{
  font-family: cursive;
  color: green;
}