*{
  margin: 0; padding: 0; box-sizing: border-box;
}

header {
  width: 100%; height: 100vh;
  background-image: url('https://telegra.ph/file/ae6f8353b0319c85a108f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%; height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo {
  width: 25%; text-align: center;
  font-size: 35px;
}

nav .menu {
  width: 40%;
  display: flex; justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
}

nav .menu a:first-child{
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center; color: white;
}

section {
  
}

section h3 {
  font-size: 35px; font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px purple;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px purple;
  text-transform: uppercase;
}

section p{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px purple;
}

section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease;
}

.btnone:hover{
    background: #00b894;
    color: white;
}

section .btnone{
  background: #fff;
  color: #000;
}

.btntwo:hover{
    background: #fff;
    color: #000;
}

section .btntwo{
  background: #00b894;
  color: white;
}

.change_content:after {
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content: "SLP";}
    20%{content: "SEP20";}
}

#homee {
     font-family: monospace;
     color: white;
     font-size: 14px;
}

#slpex {
    font-family: monospace;
    color: white;
    font-size: 14px;
}

#info {
    font-family: monospace;
    color: white;
}

#sscan {
    font-family: monospace;
    color: white;
}
